<div class="index-section">
  <div class="page-width text-{{ block.settings.align_text }}">
    {% if block.settings.title != blank %}
      <div class="section-header">
        <h2>{{ block.settings.title }}</h2>
      </div>
    {% endif %}

    {%- assign text_column_count = 0 -%}
    {%- assign column_1_enabled = false -%}
    {%- assign column_2_enabled = false -%}
    {%- assign column_3_enabled = false -%}
    {% if block.settings.enable_image_1 or block.settings.title_1 != blank or block.settings.text_1 != blank %}
      {%- assign column_1_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}
    {% if block.settings.enable_image_2 or block.settings.title_2 != blank or block.settings.text_2 != blank %}
      {%- assign column_2_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}
    {% if block.settings.enable_image_3 or block.settings.title_3 != blank or block.settings.text_3 != blank %}
      {%- assign column_3_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}

    {% case text_column_count %}
      {% when 1 %}
        {%- assign grid_item_width = '' -%}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'medium-up--one-third' -%}
    {% endcase %}

    <div class="grid grid--flush-bottom">
      {%- for i in (1..3) -%}
        {%- assign enabled = block.settings["enable_image_" | append: i] or block.settings["title_" | append: i] != blank or block.settings["text_" | append: i] != blank -%}
        {% if enabled %}
          <div class="grid__item {{ grid_item_width }}" data-aos="row-of-3">
            {% if block.settings["enable_image_" | append: i] %}
              <div style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings["image_width_" | append: i] }}px;">
                {% if block.settings["button_link_" | append: i] != blank %}
                  <a href="{{ block.settings["button_link_" | append: i] }}">
                {% endif %}

                {% if block.settings["svg_icon_" | append: i] %}
                  <div class="custom-icon">
                    {{ block.settings["svg_icon_" | append: i] | raw }}
                  </div>
                {% elsif block.settings["image_" | append: i] != blank %}
                  <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings["image_" | append: i].aspect_ratio }}%;">
                    {%- assign img_url = block.settings["image_" | append: i] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 540, 720, 900, 1080]"
                         data-aspectratio="{{ block.settings["image_" | append: i].aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ block.settings["image_" | append: i].alt }}">
                  </div>
                {% else %}
                  <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                {% endif %}

                {% if block.settings["button_link_" | append: i] != blank %}
                  </a>
                {% endif %}
              </div>
            {% endif %}

            {% if block.settings["title_" | append: i] != blank %}
              <p class="h3">{{ block.settings["title_" | append: i] }}</p>
            {% endif %}
            {% if block.settings["text_" | append: i] != blank %}
              <div class="rte-setting text-spacing">{{ block.settings["text_" | append: i] }}</div>
            {% endif %}
            {% if block.settings["button_label_" | append: i] != blank %}
              <a href="{{ block.settings["button_link_" | append: i] }}" class="btn btn--secondary btn--small">
                {{ block.settings["button_label_" | append: i] }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>
